Flask==3.0.2
gunicorn==21.2.0
Werkzeug==3.0.1
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl#egg=es_core_news_sm
stripe==9.5.0
fpdf2==2.7.9
Flask-Session==0.8.0
